@import "../abstracts/mixins";
@import "../abstracts/variables";


.decor {
  position: absolute;
  z-index: -1;

  &-1 {
    top: 0;
    left: 0;
    @media (max-width: $breakpoint-xl) {
      width:500px;
    }
    @media (max-width: $breakpoint-lg) {
      width:400px;
    }
  }

  &-2 {
    right: 0;
    bottom: 41.39px;
    @media (max-width: $breakpoint-xl) {
      width:150px;
    }
    @media (max-width: $breakpoint-lg) {
      width:100px;
    }
  }
}

.s-project {
  padding: 18px 0 63px 0;
  min-height: 100vh;

  & .btn-primary {
    margin-top: 33px;
  }


}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 8px;

  &--grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .post {
      grid-template-columns: 1fr;
      gap: 0;

      &__content {
        grid-template-columns: auto auto;
        padding: 12px 12px 19px 12px;
        justify-content: space-between;

      }

      &__upload {
        grid-column: span 2;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &-title {
          margin-bottom: 0;
          font-size: 14px;
        }
        &-date {
          font-size: 12px;

        }
      }

      &__stats {
        display: grid;
      }
    }
  }
}

.post {
  display: grid;
  grid-template-columns: 86px 1fr;
  gap: 30px;

  background: #FFFFFF;

  &__image img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 16px;
  }

  &__meta {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__stats {
    display: flex;
    gap: 12px;
    font-size: 14px;
    color: #444;
  }

  &__stat {
    display: inline-flex;
    align-items: center;
    gap: 7.5px;
    font-size: 14px;

    color: #000;

    & i {
      font-size: 15px;
    }
  }

  &__upload {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &-date {
      font-size: 14px;

    }

    &-title {

      margin-bottom: 8px;
      font-size: 16px;
    }
  }

  &__date {

    margin-bottom: 8px;
    font-size: 16px;
  }
}

